.MyTextArea {
  margin: 5px 0;
  padding: 5px 15px;
  border-radius: 9px;
  border: 1px solid black;  
  width: 350px;
  font-size: 18px;
  line-height: 1.15;
  display: none;
}

.MyTextArea:focus {
  outline: 1.5px solid black;
}

.MyTextArea_active {
  display: block;
}